body {
  margin-top: 90px;
  font-family: 'Exo', helvetica;
  background: #0086b3;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 300px;
  height: 150px;
  border-top-left-radius: 160px 40px;
  border-top-right-radius: 160px 40px;
  border-bottom-right-radius: 160px 40px;
  border-bottom-left-radius: 160px 40px;
  border: 2px ridge white;
  perspective: 200px;
  /*    -webkit-box-shadow: 0px 8px 16px -2px black*/
}

.letters {
  position: relative;
  width: 28px;
  height: 85px;
  font-weight: 700;
  font-size: 1.3em;
  padding: 1px;
  border-radius: 10px;
  opacity: 0.7;
  border: 1px dashed white;
  cursor: pointer;
}

.letters:hover {
  opacity: 1;
}

.sessionLetters {
  float: left;
  top: 20%;
  left: -12%;
}

.breakLetters {
  float: right;
  top: 20%;
  left: 12%;
}
.smallText
{
  font-size: 0.3em;
  margin-right:10px;
   margin-left:2px;
}

.sessionCaption {
  position: relative;
  top: 102%;
  left: -46%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.miniHeading
{
  position:absolute;
  left:50%;
  top:81%;
    -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:0.8em;
  font-weight:700;
  opacity:0.7;

}

.breakCaption {
  position: relative;
  top: -40%;
  left: 46%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.clock {
  position: absolute;
  font-family: 'Cousine', helvetica;
  font-weight: 700;
  font-size: 4.6em;
  color: white;
  cursor: pointer;
  left: 15%;
  top: 29%;
  /* bring your own prefixes */

  opacity: 0.8;
}

.currentMode {
  position: absolute;
  top: 15%;
  left: 55%;
  font-weight: 400;
  font-size: 1.6em;
  color: white;
  font-weight: 700;
  line-height: 1;
  font-style: italic;
  padding: 1px;
  opacity: 0.8;
}

html {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  margin: auto;
  width: 290px;
  height: 30px;
  opacity: 0.5;
}

.footer h4 {
  position: absolute;
  left: 50%;
  font-size: 0.7em;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  margin: auto;
  width: 300px;
  height: 40px;
  font-family: 'Audiowide', helvetica;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.7;
  transform: skewX(-15deg);
  cursor: pointer;
  /* bring your own prefixes */
}

.centeredText {
  position: absolute;
  left: 50%;
  top: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centeredTop {
  top: 20%;
}

.centeredCenter {
  top: 50%;
}

.centeredBottom {
  top: 80%;
}

.indicator {
  position: absolute;
  height: 7px;
  border: 1px solid;
  top: 21%;
  background: white;
  opacity: 0.4;
}

.narrow {
  left: 50%;
  width: 10px;
  transition: 1s;
  opacity: 0.4;
}

.wide {
  left: 20%;
  width: 90px;
  opacity: 1.0;
}

.paused {
  left: 20%;
  opacity: 1.0;
}

.narrowLeft {
  left: 20%;
  width: 10px;
  transition: 1s;
  opacity: 1.0;
}

.indicatorCatch {
  position: absolute;
  height: 10px;
  width: 10px;
  border-left: 1px solid;
  top: 23%;
  left: 15%;
}

.indicatorLeft {
  top: -22%;
  left: 45%;
  /*
  border-top-right-radius:5px 5px;
  border-bottom-right-radius:5px 5px;
  */
}

.indicatorRight {
  top: -36%;
  right: -83%;
  /*
  border-top-left-radius:5px 5px;
  border-bottom-left-radius:5px 5px;
  */
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}